$colorCorporativo:          #7f0707;

$colorEscalada:             #E9BD37;
$colorEscalada__secundary:  #FF6F00;
$colorEscalada__contenido:  #FFF8E1;
$colorEscalada__footer:     #FFDA9E;

$colorBuceo:                #009688;
$colorBuceo__secundary:     #004d40;
$colorBuceo__contenido:     #ECEFF1;
$colorBuceo__footer:        #B2DFDB;

$colorEsqui:                #607D8B;
$colorEsqui__secundary:     #263238;
$colorEsqui__contenido:     #ECEFF1;
$colorEsqui__footer:        #CFD8DC;

$colorRafting:              #CA3F4C;
$colorRafting__secundary:   #880E4F;
$colorRafting__contenido:   #FCE4EC;
$colorRafting__footer:      #F8BBD0;

$colorSurf:                 #00BCD4;
$colorSurf__secundary:      #006064;
$colorSurf__contenido:      #E0F7FA;
$colorSurf__footer:         #B2EBF2;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

$fuente : 'poppins-bold', sans-serif !important;

