.c-menu {
  display: flex;
  margin: auto;
  background: rgba(255,255,255,0.7);
  height: 70px;
  width: 100%;
  transition: height 0.7s;
  position: fixed;
  z-index: 99;
  
  

  &__option,&__hamburguer {
    padding-right: 2%;
    padding-left: 1%;
    line-height: 4.5em;
    display: inline-block;
    color: black;
    height: 100%;
    max-height: 70px;
    text-decoration: none;

    &--right {
      margin-left: auto;
    }
    &--login{
      border: 1px solid $colorCorporativo;
      color: rgb(83, 83, 83);
      height: 50px;
      
      line-height: 3.2em;
      padding-right: 1%;
      margin-right: 1%;
      margin-top: 0.8%; 
      font-weight: 600;
    }
    &--register{
      background: rgba($color: $colorCorporativo, $alpha: 0.7);
      color: white;
      height: 50px;
      line-height: 3.2em;
      padding-right: 1%;
      margin-right: 1%;
      margin-top: 0.8%;
      font-weight: 600;
    }
  }
  &__hamburguer{
    display: none;
  }

  &__option:hover{
    cursor: pointer;
  }

  &--extended {
    height: 18%;
    background: rgb(255,255,255);
    .c-menu__option--register,.c-menu__option--login{
      max-height: 70px;
    }
  }
  &__option-container{
    display: flex;
  }

  
 
}
@media only screen and (max-width:600px){
  .c-menu__option-container{
    display: none;
    margin-top: 70px;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .c-menu__hamburguer{
    display: block;
    margin-left: auto;

  }
  .c-menu--extended{
    height: fit-content;
  }
  .c-menu__option--inicio{
    height: unset;
  }
  .c-menu__option--right{
    margin-left: unset;
  }
  .c-menu__option--login{
    border: none;
    color: black;
  }
  .c-menu__option--register{
    background: transparent;
    color: rgb(83, 83, 83);
  }
}