.c-menu {
  display: flex;
  margin: auto;
  background: rgba(255,255,255,0.7);
  height: fit-content;
  width: 100%;
  transition: height 0.7s;
  position: fixed;
  z-index: 99;
  

  &__opcion {
    padding-right: 2%;
    padding-left: 1%;
    line-height: 70px;
    display: inline-block;
    color: black;
    height: 70px;
    text-decoration: none;
    &--right {
      margin-left: auto;
    }
  }

  &__opcion:hover{
    cursor: pointer;
  }

  &--extended {
    height: 130px;
    background: rgb(255,255,255);
  }
  &__suboption{
    display: inline-block;
    justify-content: space-between;
    padding:20px;
  }
}
