.c-menu {
  display: flex;
  margin: auto;
  background: rgba(255,255,255,0.7);
  height: 70px;
  width: 100%;
  transition-duration: 0.4s;
  position: fixed;
  z-index: 99;

  &__opcion {
    padding-right: 2%;
    padding-left: 1%;
    line-height: 70px;
    display: inline-block;
    color: black;
    height: 70px;
    text-decoration: none;
    &--right {
      margin-left: auto;
    }
  }
  &--extended {
    height: 150px;
  }
}
