.c-modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 100;
    &__dialog{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 36%;
        height: fit-content;
        background:  #ffffff;
        
    }
    overflow: hidden;
}
.content{
    &__header{
        display: flex;
        padding-right: 2%;
        
    }
    &__title{
        display:block;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }
    &__body{
        display: block;
        width: 100%;
        padding:8%;
        line-height: 1.6em;
    }
    &__footer{
        padding:2%;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}
.button--close{
    margin-left: auto;
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}
.button{
    display: inline-block;
    padding:4% 7%;
    margin:1%;
    // border: 1px solid #7f0707;
    &--highlight{
        background-color: #7f0707;
        color: white;
    }
    &:hover{
        cursor: pointer;
    }
}