.c-sport-pin {
  transition: 0.3s;
  margin: 2%;
  display: inline-block;
  height: 57%;
  margin-left: 15%;

  &:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    .c-sport-pin__img {
      filter: unset;
    }
  }

  &__img {
    width: 100%;
    filter: grayscale(100%);
  }

  &__content {
    height: 12vh;
    background: white;
    position: relative;
    z-index: 2;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    box-shadow: 0px 27px 29px -27px rgba(0, 0, 0, 0.75);

    .titulo {
      color: white;
      margin-left: 10%;
      font-weight: bold;
      font-size: 1.3rem;
    }

    .subtitulo {
      color: white;
      margin-left: 10%;
      margin-top: 3%;
    }
  }

  &__mask {
    width: 99.7%;
    padding: 22%;
    margin-top: -66%;
    background-color: white;
    transform: skewY(-15deg);
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
  }
}

.c-sport-pin--escalada {
  .c-sport-pin__content {
    background-color: $colorEscalada;
  }
  .c-sport-pin__mask {
    background-color: $colorEscalada;
  }
}

.c-sport-pin--buceo {
  .c-sport-pin__content {
    background-color: $colorBuceo;
  }
  .c-sport-pin__mask {
    background-color: $colorBuceo;
  }
}

.c-sport-pin--esqui {
  .c-sport-pin__content {
    background-color: $colorEsqui;
  }
  .c-sport-pin__mask {
    background-color: $colorEsqui;
  }
}

.c-sport-pin--rafting {
  .c-sport-pin__content {
    background-color: $colorRafting;
  }
  .c-sport-pin__mask {
    background-color: $colorRafting;
  }
}

.c-sport-pin--surf {
  .c-sport-pin__content {
    background-color: $colorSurf;
  }
  .c-sport-pin__mask {
    background-color: $colorSurf;
  }
}

@media only screen and (max-width:600px){
  .c-sport-pin{
    margin-left: 20%;
    margin-bottom: 10%;
    &:hover{
      box-shadow: none;
    }
  }
  .c-sport-pin__mask{
    width: 79.9%;
    transform: skewY(-10deg);
    padding: 16%;
    margin-top: -40%;
  }
  .c-sport-pin__content{
    width: 80%;
  }
  .c-sport-pin__img{
    width: 80%;
    filter: grayscale(0%);
  }

}

