


.c-information-pin{
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  padding:10%;
  width: 390px;
  transition-duration: 0.5s;
  
  &__image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;

    & i{
      color: $colorCorporativo;
    }
  }
  &__title{
    width:fit-content;
    margin-top: 12%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color:#36464e;
  }
  &__content{
    width:100%;
    height: 100%;
    margin-top: 12%;
    text-align: center;
    font-size: 1.2rem;
    color:#536069;
    line-height: 1.7rem; 
  }

  &:hover{
    cursor: pointer;
  }
} 

.resaltarAnimation{
  transition-duration: 0.5s;
  transform: scale(1.03);
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.blurAnimation{
  transition-duration: 0.5s;
  filter: blur(2px);
}


@each $size,$px in $font-sizes{
  @media only screen and (max-width: 600px){
  .c-information-pin__title--font-size-#{$size}\@mobile{
    font-size: #{$px};
  }
  .c-information-pin__content--font-size-#{$size}\@mobile{
    font-size: #{$px};
  }
}
}
@media only screen and (max-width: 600px){
  .c-information-pin--no-borders\@mobile{
    border: none;
    box-shadow: none;

  }
}