.c-information-pin{
  width: fit-content;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  padding:34px;
  width: 390px;
  transition-duration: 0.5s;
  
  &__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;

    & i{
      color: $colorCorporativo;
    }
  }
  &__title{
    width:fit-content;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:#36464e;
  }
  &__content{
    width:300px;
    height: 200px;
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    color:#536069;
    line-height: 26px; 
  }

  &:hover{
    cursor: pointer;
  }
} 

.resaltarAnimation{
  transition-duration: 0.5s;
  transform: scale(1.03);
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.blurAnimation{
  transition-duration: 0.5s;
  filter: blur(2px);
}
