.c-submenu{
    display: flex;
    position: absolute;
    align-self: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    line-height: 4rem;
    transition: height 0.7s;

    &__option{
        display: inline-block;
        justify-content: space-between;
        cursor: pointer;
      }
}

@media only screen and (max-height:600px){
  .c-submenu{
    display: none;
  }
}