.c-load {
  background-color: white;
  height: 100vh;
  transition-duration: 0.5s;

  &__img {
    width: 9%;
    margin-top: 25%;
    //margin-bottom: -10px;
    animation-duration: 0.5s;
    animation-name: apareceLogo;
  }
  &__gif {    
    width: 40%;
    margin-top: -25%;
    transition-duration: 0.5s;
  }
}

@keyframes apareceLogo {
    0% {
      width: 0;
    }
    100% {
      width: 100px;
    }
  }