.c-slider{
    background: white;
    height: 950px;
    background-size: cover;
    filter: grayscale(100%);
    &:hover{
      filter: grayscale(0%);
    }
}
.carousel-control-next, .carousel-control-prev{
  margin-top:-25%;
}
