.l-columns{
    display: grid;

    @for $i from 1 through 12 {
        &--#{$i}-columns{
            grid-template-columns: repeat($i,1fr);
        }
    }
    
    &--long{
        padding-top: 7%;
        padding-bottom: 7%;
      }

}

@media only screen and (max-width:600px){
    @for $i from 1 through 12 {
        .l-columns--#{$i}-columns\@mobile{
            grid-template-columns: repeat($i,1fr);
        }
    }
}
