.l-dual{
    display: grid;
    grid-template-areas: "izquierda derecha";
    grid-template-columns: 1fr 1fr;
    margin-top:5%;
    &__item{
        &--derecha{
            grid-area: izquierda;
            display:flex;
            align-items: center;
            justify-content: center;
            transition: 1s ;
            transform: translate(100%);
        }
        &--izquierda{
            display:flex;
            align-items: center;
            justify-content: center;
            grid-area: izquierda;
            transition: 1s ;
            transform: translate(0%);
        }
        
    }
}

@media only screen and (max-width:600px){
    .l-dual{
        display: block;
        &__item--derecha{
            transform: translate(0%);
        }
    }
}