.l-dual{
    display: grid;
    grid-template-areas: "izquierda derecha";
    grid-template-columns: 1fr 1fr;
    margin-top:70px;
    &__item{
        &--derecha{
            grid-area: derecha;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        &--izquierda{
            display:flex;
            align-items: center;
            justify-content: center;
            grid-area: izquierda;
            
        }
    }
}