.l-notificaciones {
  z-index: 111;
  display: scroll;
  position: fixed;
  bottom: 1%;
  left: 1%;

  &__grupo {
    width: 365px;
  }
}

@media screen and (max-width: 600px) {
  .l-notificaciones {
    width: 100%;
    bottom:unset;
    left:unset;
    top: 10%;

    &__grupo{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
