@import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";

.fa {
  color: white;
}

.c-card {
  position: relative;
  height: 0;
  padding-bottom: calc(100% - 16px);
  margin-bottom: 6.6em;
  margin-top: 2.4em;

  &__encabezado {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      top: -16px;
      width: 0;
      border: 8px solid;
      transition: all 0.3s;
    }

    &:after {
      top: auto;
      bottom: 0;
    }
  }

  &__contenido {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    transition: all 0.3s;
  }

  &__btn {
    position: absolute;
    right: 30px;
    top: 15px;
    border-radius: 50%;
    border: 3px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    transition-duration: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
}

// ------------- CARTA ACTIVA

.c-card--active {
  .c-card__encabezado {
    top: 0;
    padding: 10px 16px 10px 90px;

    &:before {
      top: 0;
    }
    &:after {
      bottom: -16px;
    }
  }
  .c-card__btn {
    top: 62px;
  }

  .c-card__contenido {
    padding-top: 5.6em;

    .content {
      height: 200px;
      &__img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        left: 0;
        top: 12px;
        width: 60px;
        height: 60px;
        z-index: 20;
      }

      &__description {
        top: 50px;
        padding-top: 5.6em;
        opacity: 1;
        filter: alpha(opacity=100);
      }

      &__button {
        display: flex;
        top: 50px;
        padding: 1.1em;
        opacity: 1;
        filter: alpha(opacity=100);
        margin-top: 50%;
        margin-left: 50%;
      }

      @media screen and (max-width: 767px) {
        &__description {
          position: relative;
          top: auto;
          right: auto;
          left: auto;
          padding: 50px 30px 70px 30px;
          bottom: 0;
        }
      }
    }
  }

  .c-card__footer {
    overflow: visible;
    position: absolute;
    top: calc(100% - 16px);
    left: 16px;
    right: 0;
    height: 82px;
    padding-top: 15px;
    padding-left: 25px;

    .footer {
      &__titulo {
        top: -32px;
      }

      &__iconos a {
        top: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 0;
    height: auto;

    .c-card__contenido {
      position: relative;
      margin-right: 16px;
    }
  }
}
// ACABA CARTA ACTIVA

.encabezado {
  &__titulo {
    display: block;
  }
  &__subtitulo {
    font-weight: 400;
    display: block;
    font-size: 0.8em;
  }
}

.content {
  &__description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1.2s;
  }

  &__img {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  &__button {
    $sportsColor: (
      Escalada: $colorEscalada,
      Buceo: $colorBuceo,
      Rafting: $colorRafting,
      Esqui: $colorEsqui,
      Surf: $colorSurf,
    );

    @each $sport, $color in $sportsColor {
      &--#{$sport} {
        background-color: $color;
      }
    }
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 10px;
    display: inline-block;
    transition: all 1.4s;

    position: absolute;
    top: 100%;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1.2s;

    transform: skewX(-10deg);

    &:hover {
      cursor: pointer;
    }

    .button__icono {
      color: white;
      transform: skewX(10deg);
      display: inline-block;
    }

    .button-text {
      color: white;
      text-transform: capitalize;
      transform: skewX(10deg);
    }
  }

  &__img img {
    height: 100%;
  }
}

.footer {
  &__titulo {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    transition: all 1.4s;
  }

  &__iconos a {
    display: flex;
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    line-height: 52px;
    text-decoration: none;
    top: 200px;
    justify-content: center;
    align-items: center;
  }

  $tiempo: 0.5;
  @for $i from 1 through 5 {
    .footer__iconos i:nth-child(#{$i}) {
      transition: all ($tiempo);
      $tiempo: $tiempo + 0.1;
    }
  }

  &__level {
    display: flex;
    margin-left: 1px;
    justify-content: center;
    align-items: center;
    height: 52px;
  }

  &__level i {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    top: 0;
    transition: all 0.5s;
  }
}

//------------------------------------------------------------------------

// --------------COLORES ESQUI--------------

.c-card--esqui .c-card__encabezado {
  background-color: $colorEsqui;

  &:after {
    border-top-color: $colorEsqui;
    border-right-color: $colorEsqui;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &:before {
    border-top-color: transparent;
    border-right-color: $colorEsqui__secundary;
    border-bottom-color: $colorEsqui__secundary;
    border-left-color: transparent;
  }
}

.c-card--esqui.c-card--active .c-card__encabezado {
  &:after {
    border-top-color: $colorEsqui__secundary;
    border-right-color: $colorEsqui__secundary;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &:before {
    border-top-color: transparent;
    border-right-color: $colorEsqui;
    border-bottom-color: $colorEsqui;
    border-left-color: transparent;
  }
}

.c-card--esqui .c-card__btn {
  background-color: $colorEsqui;
  border-color: #e0f2f1;

  &:hover {
    background-color: $colorEsqui__secundary;
  }
}

.c-card--esqui .c-card__footer .footer {
  &__titulo {
    color: $colorEsqui__secundary;
  }
  &__iconos a {
    background-color: $colorEsqui__secundary;
  }
}

.c-card--esqui.c-card--active {
  .c-card__contenido {
    background-color: $colorEsqui__contenido;
  }
  .c-card__footer {
    background-color: $colorEsqui__footer;
  }
}

// --------------COLORES BUCEO--------------

.c-card--buceo .c-card__encabezado {
  background-color: $colorBuceo;

  &:after {
    border-top-color: $colorBuceo;
    border-right-color: $colorBuceo;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &:before {
    border-top-color: transparent;
    border-right-color: $colorBuceo__secundary;
    border-bottom-color: $colorBuceo__secundary;
    border-left-color: transparent;
  }
}

.c-card--buceo.c-card--active .c-card__encabezado {
  &:after {
    border-top-color: $colorBuceo__secundary;
    border-right-color: $colorBuceo__secundary;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &:before {
    border-top-color: transparent;
    border-right-color: $colorBuceo;
    border-bottom-color: $colorBuceo;
    border-left-color: transparent;
  }
}

.c-card--buceo .c-card__btn {
  background-color: $colorBuceo;
  border-color: #e0f2f1;

  &:hover {
    background-color: $colorBuceo__secundary;
  }
}

.c-card--buceo .c-card__footer .footer {
  &__titulo {
    color: $colorBuceo__secundary;
  }
  &__iconos a {
    background-color: $colorBuceo__secundary;
  }
}

.c-card--buceo.c-card--active {
  .c-card__contenido {
    background-color: $colorBuceo__contenido;
  }
  .c-card__footer {
    background-color: $colorBuceo__footer;
  }
}

// --------------COLORES ESCALADA--------------

.c-card--escalada .c-card__encabezado {
  background-color: $colorEscalada;

  &:after {
    border-top-color: $colorEscalada;
    border-right-color: $colorEscalada;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &:before {
    border-top-color: transparent;
    border-right-color: $colorEscalada__secundary;
    border-bottom-color: $colorEscalada__secundary;
    border-left-color: transparent;
  }
}

<<<<<<< HEAD
.c-card--escalada.c-card--active .c-card__encabezado {
=======
.c-card--escalada .card--active .c-card__encabezado {
>>>>>>> feat(#30): Confirmcion comprar articulo
  &:before {
    border-top-color: transparent;
    border-right-color: $colorEscalada;
    border-bottom-color: $colorEscalada;
    border-left-color: transparent;
  }

  &:after {
    border-top-color: $colorEscalada__secundary;
    border-right-color: $colorEscalada__secundary;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.c-card--escalada .c-card__btn {
  background-color: $colorEscalada;
  border-color: #e0f2f1;

  &:hover {
    background-color: $colorEscalada__secundary;
  }
}

.c-card--escalada .c-card__footer .footer {
  &__titulo {
    color: $colorEscalada__secundary;
  }
  &__iconos a {
    background-color: $colorEscalada__secundary;
  }
}

.c-card--escalada.c-card--active {
  .c-card__contenido {
    background-color: $colorEscalada__contenido;
  }
  .c-card__footer {
    background-color: $colorEscalada__footer;
  }
}

// --------------COLORES RAFTING--------------

.c-card--rafting .c-card__encabezado {
  background-color: $colorRafting;

  &:after {
    border-top-color: $colorRafting;
    border-right-color: $colorRafting;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &:before {
    border-top-color: transparent;
    border-right-color: $colorRafting__secundary;
    border-bottom-color: $colorRafting__secundary;
    border-left-color: transparent;
  }
}

.c-card--rafting.c-card--active .c-card__encabezado {
  &:after {
    border-top-color: $colorRafting__secundary;
    border-right-color: $colorRafting__secundary;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &:before {
    border-top-color: transparent;
    border-right-color: $colorRafting;
    border-bottom-color: $colorRafting;
    border-left-color: transparent;
  }
}

.c-card--rafting .c-card__btn {
  background-color: $colorRafting;
  border-color: #e0f2f1;

  &:hover {
    background-color: $colorRafting__secundary;
  }
}

.c-card--rafting .c-card__footer .footer {
  &__titulo {
    color: $colorRafting__secundary;
  }
  &__iconos a {
    background-color: $colorRafting__secundary;
  }
}

.c-card--rafting.c-card--active {
  .c-card__contenido {
    background-color: $colorRafting__contenido;
  }
  .c-card__footer {
    background-color: $colorRafting__footer;
  }
}

// --------------COLORES SURF--------------

.c-card--surf .c-card__encabezado {
  background-color: $colorSurf;

  &:after {
    border-top-color: $colorSurf;
    border-right-color: $colorSurf;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &:before {
    border-top-color: transparent;
    border-right-color: $colorSurf__secundary;
    border-bottom-color: $colorSurf__secundary;
    border-left-color: transparent;
  }
}

.c-card--surf.c-card--active .c-card__encabezado {
  &:after {
    border-top-color: $colorSurf__secundary;
    border-right-color: $colorSurf__secundary;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &:before {
    border-top-color: transparent;
    border-right-color: $colorSurf;
    border-bottom-color: $colorSurf;
    border-left-color: transparent;
  }
}

.c-card--surf .c-card__btn {
  background-color: $colorSurf;
  border-color: #e0f2f1;

  &:hover {
    background-color: $colorSurf__secundary;
  }
}

.c-card--surf .c-card__footer .footer {
  &__titulo {
    color: $colorSurf__secundary;
  }
  &__iconos a {
    background-color: $colorSurf__secundary;
  }
}

.c-card--surf.c-card--active {
  .c-card__contenido {
    background-color: $colorSurf__contenido;
  }
  .c-card__footer {
    background-color: $colorSurf__footer;
  }
}
